
body{ 
 	margin:0
}

header {
	background-color: #000;
	color: #FFF;
}

header .logo{
	float:left;
}

header nav {
	float:right;
}

header nav ul li {
	display: inline-block;

}

main {
	clear:both;
}

.slider {
	position:relative;
}

.slide {
	position: absolute;
	text-align: center;
	top:calc(50% - 100px);
	left:calc(50% - 200px);
}